In [1]:
import numpy as np
import pandas as pd

**series = single column and dataframe = multicolumn**

In [2]:
arr1 = np.random.rand(3)

In [3]:
arr1

array([0.43666384, 0.05116076, 0.98501221])

In [4]:
type(arr1)

numpy.ndarray

In [5]:
series = pd.Series(arr1)

In [6]:
series

0    0.436664
1    0.051161
2    0.985012
dtype: float64

In [7]:
type(series)

pandas.core.series.Series

In [8]:
series[1]

0.05116075965553313

In [9]:
series2 = pd.Series(arr1,
                  index= ["1st", "2nd", "3rd"])
series2

1st    0.436664
2nd    0.051161
3rd    0.985012
dtype: float64

In [10]:
series2["3rd"]

0.9850122112779877

In [11]:
series.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
series2.index

Index(['1st', '2nd', '3rd'], dtype='object')

In [13]:
arr2 = np.random.rand(3,2)
arr2

array([[0.52124169, 0.83424169],
       [0.05748665, 0.61061527],
       [0.38192269, 0.05392595]])

In [14]:
df1 = pd.DataFrame(arr2)
df1

          0         1
0  0.521242  0.834242
1  0.057487  0.610615
2  0.381923  0.053926

In [15]:
df1.columns = ["1st", "2nd"]
df1["2nd"]

0    0.834242
1    0.610615
2    0.053926
Name: 2nd, dtype: float64

**different data sources**

*text files--- csv, json, html*

*binary files*

*relational databases*

**CSV**

In [16]:
df2 = pd.read_csv("datasets/artwork_data.csv", nrows=5, index_col= 'id')
#read only first 5 rows

In [17]:
df2

,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
id,,,,,,,,,,,,,,,,,,,
1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [18]:
df2 = pd.read_csv("datasets/artwork_data.csv", 
                  nrows=5, 
                  index_col= 'id',
                  usecols = ['id', 'artist'])
#read only specific cols

df2

              artist
id
1035   Blake, Robert
1036   Blake, Robert
1037   Blake, Robert
1038   Blake, Robert
1039  Blake, William

In [19]:
cols_to_use = ['id', 'artist', 'title', 'medium', 'year', 'units']

In [20]:
df2 = pd.read_csv("datasets/artwork_data.csv",  
                  index_col= 'id',
                  usecols = cols_to_use)
df2

/home/usha/anaconda3/envs/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,artist,title,medium,year,units
id,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,mm
...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,mm

In [21]:
df2.shape

(69201, 5)

**JSON**

In [22]:
records = [("expresso", "5"),
          ("flat white", "10")]

In [23]:
pd.DataFrame.from_records(records)

            0   1
0    expresso   5
1  flat white  10

In [24]:
pd.DataFrame.from_records(records, columns= ['coffee', 'price'])

       coffee price
0    expresso     5
1  flat white    10

In [25]:
import json

In [32]:
keys_to_use = ['id', 'totalWorks', 'gender', 'mda', 'fc']

def get_records(file_path, keys_to_use):
    
    with open(file_path) as artist_file:
        content = json.load(artist_file)
    record = []
    for field in keys_to_use:
        record.append(content[field])
    return tuple(record)

In [33]:
sample_record = get_records("datasets/artists/a/afro-632.json", keys_to_use)
sample_record

(632, 1, 'Male', 'Afro', 'Afro (Afro Basaldella)')

In [41]:
pd.DataFrame.from_records(sample_record, columns=keys_to_use, index= 'id')

TypeError: 'int' object is not iterable

**indexing and filtering**

In [47]:
print(df2['artist']) #selecting single col

df2[['artist', 'medium']] #selecting multiple col

id
1035           Blake, Robert
1036           Blake, Robert
1037           Blake, Robert
1038           Blake, Robert
1039          Blake, William
                 ...
122960    P-Orridge, Genesis
122961    P-Orridge, Genesis
121181          Hatoum, Mona
112306         Creed, Martin
127035     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

                    artist                                             medium
id
1035         Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1036         Blake, Robert                                  Graphite on paper
1037         Blake, Robert        Graphite on paper. Verso: graphite on paper
1038         Blake, Robert                                  Graphite on paper
1039        Blake, William                            Line engraving on paper
...                    ...                                                ...
122960  P-Orridge, Genesis   Perspex, Wood, hairpiece, tampon and human blood
122961  P-Orridge, Genesis  Wood, Perspex, plastic, photograph on paper, t...
121181        Hatoum, Mona                               Soap and glass beads
112306       Creed, Martin                                   Gallery lighting
127035   Brunias, Agostino                                Oil paint on canvas

[69201 rows x 2 columns]

In [53]:
artists = df2['artist']
print(len(pd.unique(artists)))
pd.unique(artists)

3336

array(['Blake, Robert', 'Blake, William', 'Richmond, George', ...,
       'Sterne, Hedda', 'P-Orridge, Genesis', 'Brunias, Agostino'],
      dtype=object)

In [58]:
#filtering

s = df2['artist'] == "Bacon, Francis"
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [56]:
artist_counts = df2['artist'].value_counts()
artist_counts['Bacon, Francis']

50

In [61]:
#indexing: loc by labels; iloc by position

df2.loc[1035, 'artist']

'Blake, Robert'

In [63]:
df2.loc[df2['artist'] == 'Bacon, Francis', :]

,artist,title,medium,year,units
id,,,,,
672,"Bacon, Francis",Figure in a Landscape,Oil paint on canvas,1945,mm
673,"Bacon, Francis",Study of a Dog,Oil paint on canvas,1952,mm
674,"Bacon, Francis",Three Studies for Figures at the Base of a Cru...,Oil paint on 3 boards,1944,NaN
677,"Bacon, Francis",Study for a Portrait of Van Gogh IV,Oil paint on canvas,1957,mm
678,"Bacon, Francis",Reclining Woman,Oil paint on canvas,1961,mm
679,"Bacon, Francis",Seated Figure,Oil paint on canvas,1961,mm
680,"Bacon, Francis",Study for Portrait on Folding Bed,Oil paint on canvas,1963,mm
681,"Bacon, Francis",Portrait of Isabel Rawsthorne,Oil paint on canvas,1966,mm
682,"Bacon, Francis",Three Figures and Portrait,Oil paint and pastel on canvas,1975,mm
683,"Bacon, Francis",Study for Portrait II (after the Life Mask of ...,Oil paint on canvas,1955,mm
684,"Bacon, Francis",Triptych - August 1972,Oil paint on 3 canvases,1972,NaN
19509,"Bacon, Francis",Second Version of Triptych 1944,Oil paint and acrylic paint on 3 canvases,1988,NaN
26004,"Bacon, Francis",Figure in a Landscape,Oil paint on paper,1952,mm
26003,"Bacon, Francis",Turning Figure,Graphite and oil paint on paper,1959,mm
26001,"Bacon, Francis","Reclining Figure, No. 1",Oil paint and ink on paper,1961,mm
26002,"Bacon, Francis","Reclining Figure, No. 2",Oil paint and ink on paper,1961,mm
26025,"Bacon, Francis","Two Owls, No. 1",Graphite and oil paint on paper,1957,mm
26060,"Bacon, Francis",Figure in a Framework,Graphite and oil paint on paper,1957,mm
26059,"Bacon, Francis",Collapsed Figure,Oil paint on paper,1957,mm
26026,"Bacon, Francis",Figure Bending Forwards,Oil paint on paper,1957,mm
26058,"Bacon, Francis","Two Owls, No. 2",Oil paint on paper,1957,mm
26057,"Bacon, Francis",Falling Figure,Graphite and oil paint on paper,1957,mm
26055,"Bacon, Francis","Figure with Left Arm Raised, No. 1",Oil paint on paper,1957,mm
26056,"Bacon, Francis","Figure with Left Arm Raised, No. 2",Oil paint on paper,1957,mm
26054,"Bacon, Francis",Figure with Arms Swung Out,Oil paint on paper,1957,mm
26053,"Bacon, Francis",Seated Figure,Graphite on paper,1957,mm
26052,"Bacon, Francis",Figure Lying Flat,Graphite and oil paint on paper,1957,mm
26051,"Bacon, Francis",Figure in Grey Interior,Graphite and oil paint on paper,1957,mm
26050,"Bacon, Francis",Standing Figure,Ink on paper,1957,mm
26049,"Bacon, Francis",Figure with Foot in Hand,Oil paint and ink on paper,1957,mm
26048,"Bacon, Francis",Fallen Figure,Oil paint on paper,1957,mm
26047,"Bacon, Francis",Fallen Figure with Arms Up,Oil paint on paper,1957,mm
26046,"Bacon, Francis","Bending Figure, No. 1",Oil paint on paper,1957,mm
26045,"Bacon, Francis",Figure Crawling,Oil paint on paper,1957,mm
26044,"Bacon, Francis",Head,Oil paint on paper,1957,mm
26043,"Bacon, Francis","Figure Lying, No. 1",Oil paint on paper,1957,mm
26042,"Bacon, Francis","Figure Lying, No. 2",Oil paint on paper,1957,mm
26041,"Bacon, Francis","Blue Crawling Figure, No. 1",Oil paint on paper,1957,mm
26040,"Bacon, Francis","Blue Crawling Figure, No. 2",Oil paint on paper,1957,mm
26039,"Bacon, Francis",Pink Crawling Figure,Oil paint and ink on paper,1957,mm
26038,"Bacon, Francis","Bending Figure, No. 2",Ink and oil paint on paper,1957,mm
26037,"Bacon, Francis",Composition,Oil paint on paper,1957,mm
26036,"Bacon, Francis",Man on a Bed,Graphite on paper,1957,mm
26035,"Bacon, Francis",Man on a Sofa,Oil paint on paper,1957,mm
26034,"Bacon, Francis",Nude Reading,Graphite and oil paint on paper,1957,mm
26033,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 1",Graphite on paper,1957,mm
26032,"Bacon, Francis","Cross-legged Figure with Arms Raised, No. 2",Oil paint on paper,1957,mm
26031,"Bacon, Francis",Seated Woman,Graphite on paper,1957,mm
21897,"Bacon, Francis",Figures in a Garden,Oil paint on canvas,1936,mm
111,"Bacon, Francis",Study for a Portrait,Oil paint and sand on canvas,1952,mm

In [65]:
df2.iloc[100:300, [0,1,4]]

,artist,title,units
id,,,
1737,"Burne-Jones, Sir Edward Coley, Bt",Head of a Girl,mm
1738,"Burne-Jones, Sir Edward Coley, Bt",Figure Study,mm
1739,"Burne-Jones, Sir Edward Coley, Bt",Study of the Head of a Female Attendant for ‘T...,mm
20231,"Burne-Jones, Sir Edward Coley, Bt",Study of Iseult for ‘The Marriage of Sir Trist...,mm
1740,"Burne-Jones, Sir Edward Coley, Bt",Composition Study for ‘Clerk Saunders’,mm
...,...,...,...
7329,"Jones, George",[title not known],NaN
7330,"Jones, George",[title not known],NaN
7331,"Jones, George",[title not known],NaN
7332,"Jones, George",[title not known],NaN
7333,"Jones, George",[title not known],NaN

In [67]:
df2.iloc[0,0]

'Blake, Robert'

In [69]:
df2.iloc[0:3, 2:]

                                                 medium  year units
id
1035  Watercolour, ink, chalk and graphite on paper....   NaN    mm
1036                                  Graphite on paper   NaN    mm
1037        Graphite on paper. Verso: graphite on paper  1785    mm

In [86]:
df3 = pd.read_csv("datasets/artwork_data.csv", nrows=10, index_col= 'id')

In [87]:
df3['height'].sort_values().head() #ascending

id
1036    213
1041    334
1039    335
1043    335
1040    338
Name: height, dtype: int64

In [88]:
df3['height'].sort_values().tail() #descending

id
1042    340
1044    340
1038    394
1035    419
1037    467
Name: height, dtype: int64

In [109]:
area = df3['height'] * df3['width']

In [112]:
df3 = df3.assign(area= area)
df3['area'].max()

165086

In [117]:
df3['area'].idxmax() #id of max val

1035

In [118]:
df3.loc[df3['area'].idxmax(), :]

accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                                 date not known
medium                Watercolour, ink, chalk and graphite on paper....
creditLine                          Presented by Mrs John Richmond 1922
year                                                                NaN
acquisitionYear                                                    1922
dimensions                                        support: 394 x 419 mm
width                                                               394
height                                                              419
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
area                                                             165086
Name: 1035, dtype: object

In [106]:
df4 = pd.read_csv("datasets/artwork_data.csv", nrows=200, index_col= 'id')
df4

,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
id,,,,,,,,,,,,,,,,,,,
1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394.0,419.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311.0,213.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343.0,467.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318.0,394.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243.0,335.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6444,A00196,"Hills, Robert",artist,260,Study of a Horse,date not known,Graphite on paper,Bequeathed by J.R. Holliday 1927,NaN,1927,support: 216 x 270 mm,216.0,270.0,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/hills-stud...
6722,A00197,"Houghton, Arthur Boyd",artist,278,[title not known],date not known,Graphite on paper,Presented by H. Reitlinger 1922,NaN,1922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/houghton-t...
6723,A00198,"Houghton, Arthur Boyd",artist,278,[title not known],date not known,Graphite on paper,Presented by H. Reitlinger 1922,NaN,1922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/houghton-t...
6724,A00199,"Houghton, Arthur Boyd",artist,278,[title not known],date not known,Graphite on paper,Presented by H. Reitlinger 1922,NaN,1922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/houghton-t...
6725,A00200,"Houghton, Arthur Boyd",artist,278,[title not known],date not known,Graphite on paper,Presented by H. Reitlinger 1922,NaN,1922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/houghton-t...

In [107]:
pd.to_numeric(df4['acquisitionYear']) #converting obj to numeric val

id
1035    1922
1036    1922
1037    1922
1038    1922
1039    1919
        ...
6444    1927
6722    1922
6723    1922
6724    1922
6725    1922
Name: acquisitionYear, Length: 200, dtype: int64

In [108]:
pd.to_numeric(df4['year'], errors = 'coerce')
#converting obj to numeric val and errors to NaN

id
1035       NaN
1036       NaN
1037    1785.0
1038       NaN
1039    1826.0
         ...
6444       NaN
6722       NaN
6723       NaN
6724       NaN
6725       NaN
Name: year, Length: 200, dtype: float64